@font-face {
  font-family: Helvetica;
  src: url("../src/assets/fonts/?Helvetica/Helvetica.ttf");
}
@font-face {
  font-family: SFPro;
  src: url("../src/assets/fonts/SFPro/SFPRODISPLAYREGULAR.OTF");
  src: url()
}

@import "tailwindcss";

@theme {
  --font-helvetica: Helvetica, Poppins, "sans-serif";
  /* --font-SFPro: SFPro, "Poppins", "sans-serif" */
  --font-Segoe: "Segoe UI", SFPro, "Roboto", "sans-serif"
  --font-SFPro: -apple-system, BlinkMacSystemFont, Poppins, sans-serif;
}
