@font-face {
  font-family: Helvetica;
  src: url("../src/assets/fonts/Helvetica.ttf");
}

@import "tailwindcss";

@theme {
  /* --font-poppins: Poppins, sans-serif */
  --font-helvetica: Helvetica, Poppins, "sans-serif";
}
